.div1 {
  width: 500px;
  height: 100px;
  margin-left:500px;
  margin-bottom: 20px;
  border: 1px groove;
  box-sizing: border-box;
}

.submit {
  margin-top:25px;
  margin-left: 650px
}

.div2 {
  width: 750px;
  height: 250px;
  margin-left:300px;
  border: 1px groove;
  box-sizing: border-box;
}

.header {
  margin-top: 100px;  
  
}


.report {
  margin-top: -40px;  
  margin-left: 400px;  
}
